NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCLhMrMbUpoVxZeW6eFMn7OCCP9jl7pn0I
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=support-shift-management.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=support-shift-management
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=support-shift-management.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=827045890970
NEXT_PUBLIC_FIREBASE_APP_ID=1:827045890970:web:52be7f1b66c3a81c444823